{% load static %} <!-- сообщаем нашему шаблону что мы установили CSS, загружаем статические файлы -->
<html>
    <head>
        <title>RPS</title>
        <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> <!-- устанавливаем HTML и CSS фреймворк Bootstrap -->
        <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> <!-- устанавливаем HTML и CSS фреймворк Bootstrap -->
        <link href = "https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel = "stylesheet" type = "text/css"> <!-- взяли определенный шрифт для заголовков -->
        <link rel = "stylesheet" href = "{% static 'css/rps.css' %}"> <!-- сообщаем шаблону где находится CSS файл -->
        <link rel="stylesheet" href="{% static 'ckeditor/ckeditor.css' %}">
        <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
        {{ form.media }}
    </head>
    <body>
        <div class="page-header">
            <li><a href="{% url 'post_new' %}" class="save btn btn-defaul"  type="submit" name="action">Новый массив</a></li>
            <li><a href="/" class="save btn btn-defaul" type="submit" name="action">Домой</a></li>
            <!--<li><a href="{% url 'test' %}" class="save btn btn-defaul" type="submit" name="action">Тест добавления</a></li>-->
            <!--<li><a href="{% url 'test_clear' %}" class="save btn btn-defaul" type="submit" name="action">Очистка базы данных</a></li>-->
            <li><a href="{% url 'test_output' %}" class="save btn btn-defaul" type="submit" name="action">Вывод из базы данных</a></b></li>
            <!--<li><a href="{% url 'test_download' %}" class="save btn btn-defaul" type="submit" name="action">Тест выгрузки и сортировки</a></li>-->
            <h1><a href="/">Massiv</a></h1>

        </div>


    </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                        <!-- block — тег шаблона, позволяющий вставлять HTML-код этого блока в другие шаблоны, расширяющие base.html -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>





