<!-- massiv.html -->
{% extends 'massiv/base.html' %}

{% block content %}





    <h1>Сортировка массива</h1>
    <form method="POST" class="feed-form">{% csrf_token %}
        <h3>Название массива</h3>
        <textarea name="{{ form.array_name.name }}" class="ckeditor">{{ form.array_name.value }}</textarea>
        <h3>Отсортированный массив</h3>
        <textarea name="{{ form.sorted_array.name }}" class="ckeditor">{{ sorted_array }}</textarea>
        <button type="submit" name="action" value="save" class="save btn btn-default">Save</button>

    </form>



{% endblock %}